@using BlazorAdmin.Layout.Components.Culture
@using BlazorAdmin.Layout.Components.Themes
@using BlazorAdmin.Layout.Components.NavMenus
@using BlazorAdmin.Layout.Components.NavTabs
@using BlazorAdmin.Layout.Components.UserAvatar
@using BlazorAdmin.Im.Components;
@using BlazorAdmin.Web.Components.Shared
@using MudBlazor.Utilities


<MudAppBar Elevation="1" Dense="true">

    <NavOpenButton />
    <MudSpacer />

    <div class="d-none d-md-flex">
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.Start" Href="https://github.com/aishang2015/BlazorAdmin" />
        <CultureIcon />
        <DarkToggleButton />
        <PrimaryChangeButton />
        <Chat></Chat>
    </div>

    <UserMenuAvatar />
</MudAppBar>

<NavMenu></NavMenu>

<MudMainContent Style="height:100vh;">
    <div class="pa-4 d-flex flex-column" style="height:100%;overflow:auto;">
        <NavTab></NavTab>
        <MudPaper Class="flex-1 pa-4 border-t border-solid mud-border-lines-default" Style="overflow:auto;border-start-start-radius:0;border-start-end-radius:0;">
            @Child
        </MudPaper>
    </div>
</MudMainContent>


