@layout EmptyLayout

@page "/noauthorized"

<MudPaper Style="width:100%;height:100vh;" Class="d-flex justify-center align-center flex-column">
    <div class="container">
        <div class="tree">
            <div class="branch" style="--x:0">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="branch" style="--x:1">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="branch" style="--x:2">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="branch" style="--x:3">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="stem">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <span class="shadow"></span>
        </div>
    </div>
    <MudText Typo="Typo.h4">@Loc["NoAuhtorized_Text"]</MudText>

</MudPaper>