@using BlazorAdmin.Layout.Components.UserAvatar.Dialogs.Com


<MudDialog Gutters="false">
	<DialogContent>
		<div style="width:800px;height:600px;" class="pa-4">
			<MudText Typo="Typo.h6">账号设置</MudText>
			<MudTabs Position="Position.Left" Rounded="true" Class="mt-2" PanelClass="pa-2" Elevation="1"
					 Style="height:calc(100% - 20px);">
				<MudTabPanel Text="基本信息" Icon="@Icons.Material.Filled.SettingsApplications" Style="justify-content:start;">
					<BasicInfoConfig/>
				</MudTabPanel>

			</MudTabs>
		</div>
	</DialogContent>
</MudDialog>