@using BlazorAdmin.Servers.Core.Helper
@using BlazorAdmin.Servers.Core.States
@rendermode InteractiveServer

<MudDrawer @bind-Open="_layoutState.NavIsOpen" ClipMode="DrawerClipMode.Never" Elevation="2" Style="z-index:1350;">
    <MudDrawerHeader Class="d-flex align-center">
        <MudIcon Icon="@IconsConstant.Blazor" Class="mr-1" Size="Size.Large" Color="Color.Primary"></MudIcon>
        <MudText Typo="Typo.h5" Color="Color.Primary">BlazorAdmin</MudText>
    </MudDrawerHeader>
    <MudNavMenu Margin="Margin.Dense" Color="Color.Inherit" Rounded="true" Class="pa-2">
        <NavItemMenu NavMenuItems="NavMenuItems" NavTo="NavTo"/>
    </MudNavMenu>
</MudDrawer>

<div class="navbar-toggler" style="width:20px;height:20px;">
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _layoutState.NavIsOpenEvent += () => StateHasChanged();
    }

}