<MudDialog>
	<DialogContent>
		<div style="width:300px;">
			<div class="d-flex align-center">
				<MudSpacer />
				<MudButton Variant="Variant.Text" Color="Color.Error" Size="Size.Medium"
						   StartIcon="@Icons.Material.Filled.Delete" OnClick="ConfirmDelete">确认删除</MudButton>
			</div>
		</div>
	</DialogContent>
</MudDialog>