<MudDialog>
	<DialogContent>
		<div style="width:300px;">
			<div class="d-flex flex-column" style="max-height:300px;overflow:auto;">
				@foreach (var role in RoleList)
				{
					<MudCheckBox T="bool" @bind-Checked="CheckedDic[role.Id]" Color="Color.Primary">@role.Name</MudCheckBox>
				}
			</div>
			<div class="mt-4 d-flex align-center">
				<MudSpacer />
				<MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Upload" FullWidth="false"
						   Variant="Variant.Text" Color="Color.Primary" OnClick="SubmitUserRole">@Loc["UserPage_SubmitText"]</MudButton>
			</div>
		</div>
	</DialogContent>
</MudDialog>