@page "/testcomponent"
@using BlazorAdmin.About.Client.Common

@rendermode InteractiveWebAssembly
@attribute [AllowAnonymous]

@layout EmptyLayout

<h3>TestComponent</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary"> aa</MudButton>

<pre>@(code)</pre>
<div>--------------------------------------</div>
<pre>@(code2)</pre>
@code {
}
