@page "/testcomponent"

@rendermode InteractiveWebAssembly
@attribute [AllowAnonymous]

@layout EmptyLayout

<h3>TestComponent</h3>

<pre>@(code)</pre>
<div>--------------------------------------</div>
<pre>@(code2)</pre>
@code {
}
