

<MudPaper Style="width:100%;height:100vh;" Class="d-flex justify-center align-center flex-column">
	<div class="loader"></div>
	<MudText Typo="Typo.h4" Class="mt-8">@Loc["NotFound_Text"]</MudText>
	<MudButton Variant="Variant.Text" OnClick="BackToHome">@Loc["BackToHome_Text"]</MudButton>
</MudPaper>

@code {
	public void BackToHome()
	{
		_navManager.NavigateTo("/", true);
	}
}