<MudDialog DisableSidePadding="true">
	<DialogContent>
		<div style="width:300px;" class="px-6 py-2">
			<MudText Typo="Typo.h6">编辑用户</MudText>
			<EditForm Model="UserModel" OnValidSubmit="UpdateSumbit" style="width:100%;">
				<DataAnnotationsValidator />
				<MudTextField Class="mt-4" @bind-Value="UserModel.UserName" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Label="用户名" For="@(() => UserModel.UserName)"
							  UserAttributes="InputAttributes"></MudTextField>
				<MudTextField Class="mt-4" @bind-Value="UserModel.RealName" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Label="姓名" For="@(() => UserModel.RealName)"
							  UserAttributes="InputAttributes"></MudTextField>
				<div class="mt-4 d-flex">
					<MudSpacer />
					<MudButton Variant="Variant.Text" FullWidth="false" Color="Color.Primary" Size="Size.Medium"
							   ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Upload">提交</MudButton>
				</div>
			</EditForm>
		</div>
	</DialogContent>
</MudDialog>