<MudDialog DisableSidePadding="true">
	<DialogContent>
		<div style="width:300px;" class="px-6 py-2">
			<MudText Typo="Typo.h6">设置用户角色</MudText>
			<div class="d-flex flex-column" style="max-height:300px;overflow:auto;">
				@foreach (var role in RoleList)
				{
					<MudCheckBox T="bool" @bind-Checked="CheckedDic[role.Id]" Color="Color.Primary">@role.Name</MudCheckBox>
				}
			</div>
			<div class="mt-4 d-flex align-center">
				<MudSpacer />
				<MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Upload" FullWidth="false"
						   Variant="Variant.Text" Color="Color.Primary" OnClick="SubmitUserRole">提交</MudButton>
			</div>
		</div>
	</DialogContent>
</MudDialog>