<MudDialog Gutters="false">
	<DialogContent>
		<div style="width:300px;" class="px-6 py-2">
			<MudText Typo="Typo.h6">修改密码</MudText>
			<EditForm Model="PasswordModel" OnValidSubmit="Submit" style="width:100%;">
				<DataAnnotationsValidator />
				<MudTextField Class="mt-4" @bind-Value="PasswordModel.Password" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Placeholder="请输入新密码" For="@(() => PasswordModel.Password)" InputType="InputType.Password"></MudTextField>
				<MudTextField Class="mt-4" @bind-Value="PasswordModel.ConfirmPassword" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Placeholder="确认新密码" For="@(() => PasswordModel.ConfirmPassword)" InputType="InputType.Password"></MudTextField>
				<div class="mt-4 d-flex">
					<MudSpacer />
					<MudButton Variant="Variant.Text" FullWidth="false" Color="Color.Primary" Size="Size.Medium"
							   ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Upload">提交</MudButton>
				</div>
			</EditForm>
		</div>
	</DialogContent>
</MudDialog>