<MudDialog DisableSidePadding="true">
	<DialogContent>
		<div style="width:300px;" class="px-6 py-2">
			<div class="d-flex align-center">
				<MudIcon Icon="@Icons.Material.Filled.Warning" Size="Size.Medium" Class="mr-2"></MudIcon>
				<MudText Typo="Typo.h6">@Title</MudText>
				</div>
				<div class="d-flex align-center mt-6">
					<MudSpacer />
					<MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" Disabled="_isLoading" OnClick="ConfirmDelete">
						@if (_isLoading)
					{
						<MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
					}
					else
					{
						@ConfirmButtonText
					}
				</MudButton>
			</div>
		</div>
	</DialogContent>
</MudDialog>