@page "/setting"

@attribute [StreamRendering]

<div class="d-flex flex-column" style="height:100%;">
    <PageHeader Title="系统配置">
    </PageHeader>
    <MudDivider Class="flex-none" />
    <div class="flex-1 d-flex">

        <div class="flex-none" style="width:340px;overflow:auto;">
            <MudList Clickable="true" @bind-SelectedItem="SelectedItem" @bind-SelectedValue="SelectedValue">
                @foreach (var group in SettingGroups)
                {
                    <MudListItem Value="@group.Name">
                        <div class="d-flex">
                            <MudIcon Icon="@group.Icon" Class="mr-2"></MudIcon>
                            <MudText>
                                @group.Name
                            </MudText>
                        </div>
                    </MudListItem>
                }
            </MudList>
        </div>
        <MudDivider Vertical="true" Class="mx-4 flex-none" />
        <div class="flex-1">
            <DynamicComponent Type="@SettingComDic[SelectedValue.ToString()!]" />
        </div>
    </div>
</div>