<MudDialog DisableSidePadding="false">
	<DialogContent>
		<div style="width:300px;" class="pb-4 my-4">
			<MudText Typo="Typo.h6">创建新用户</MudText>
			<EditForm Model="UserModel" OnValidSubmit="CreateSubmit" style="width:100%;">
				<DataAnnotationsValidator />
				<MudTextField Class="mt-4" @bind-Value="UserModel.UserName" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Label="用户名" For="@(() => UserModel.UserName)"
							  UserAttributes="InputAttributes"></MudTextField>
				<MudTextField Class="mt-4" @bind-Value="UserModel.Password" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Label="密码" For="@(() => UserModel.Password)" InputType="InputType.Password"></MudTextField>
				<div class="mt-4">
					<MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Size="Size.Small"
							   ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Upload">提交</MudButton>
				</div>
			</EditForm>
		</div>
	</DialogContent>
</MudDialog>