<MudDialog DisableSidePadding="false">
	<DialogContent>
		<div style="width:300px;" class="pb-4 mt-4">
			<MudText Typo="Typo.h6">删除该用户</MudText>
			<div class="d-flex align-center">
				<MudSpacer />
				<MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
						   StartIcon="@Icons.Material.Filled.Upload" OnClick="ConfirmDelete">确认删除</MudButton>
			</div>
		</div>
	</DialogContent>
</MudDialog>