<MudDialog DisableSidePadding="false">
	<DialogContent>
		<div style="width:300px;" class="pb-4 my-4">
			<MudText Typo="Typo.h6">编辑用户</MudText>
			<EditForm Model="UserModel" OnValidSubmit="UpdateSumbit" style="width:100%;">
				<DataAnnotationsValidator />
				<MudTextField Class="mt-4" @bind-Value="UserModel.UserName" Variant="Variant.Outlined" Margin="Margin.Dense"
							  Label="用户名" For="@(() => UserModel.UserName)"
							  UserAttributes="InputAttributes"></MudTextField>
				<div class="mt-4">
					<MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Size="Size.Medium"
							   ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Upload">提交</MudButton>
				</div>
			</EditForm>
		</div>
	</DialogContent>
</MudDialog>